# Librerias

In [2]:
import os
import geopandas as gpd
import rasterio
from rasterio.plot import show
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Rutas de PCP

In [3]:
pathPCP1960to1969 = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\PCP_1960_1969.xlsx'
pathPCP1970to1979 = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\PCP_1970_1979.xlsx'
pathPCP1980to1989 = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\PCP_1980_1989.xlsx'
pathPCP1990to1999 = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\PCP_1990_1999.xlsx'
pathPCP2000to2009 = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\PCP_2000_2009.xlsx'
pathPCP2010to2019 = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\PCP_2010_2019.xlsx'
pathPCP2020to2021 = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\PCP_2020_2021.xlsx'

# Estacion Tamos

In [6]:
df_tamos1960to1969 = pd.read_excel(pathPCP1960to1969, sheet_name=0)
df_tamos1970to1979 = pd.read_excel(pathPCP1970to1979, sheet_name=0)
df_tamos1980to1989 = pd.read_excel(pathPCP1980to1989, sheet_name=0)
df_tamos1990to1999 = pd.read_excel(pathPCP1990to1999, sheet_name=0)
df_tamos2000to2009 = pd.read_excel(pathPCP2000to2009, sheet_name=0)
df_tamos2010to2019 = pd.read_excel(pathPCP2010to2019, sheet_name=0)
df_tamos2020to2021 = pd.read_excel(pathPCP2020to2021, sheet_name=0)

In [9]:
df_Tamos = pd.concat([df_tamos1960to1969, df_tamos1970to1979, df_tamos1980to1989, df_tamos1990to1999, df_tamos2000to2009, df_tamos2010to2019, df_tamos2020to2021], ignore_index=True)

In [10]:
df_Tamos.head()

   año_mes  PCP_mm
0  1960-01    11.4
1  1960-02     7.4
2  1960-03     7.7
3  1960-04    19.9
4  1960-05    45.5

In [11]:
df_Tamos.tail()

     año_mes      PCP_mm
739  2021-08  166.699997
740  2021-09  212.399994
741  2021-10  105.500000
742  2021-11   65.800003
743  2021-12   14.900000

df_Tamos.to_csv(pathPCPTamos,index=False)

# Estacion Tomates

In [15]:
df_tomates1960to1969 = pd.read_excel(pathPCP1960to1969, sheet_name=1)
df_tomates1970to1979 = pd.read_excel(pathPCP1970to1979, sheet_name=1)
df_tomates1980to1989 = pd.read_excel(pathPCP1980to1989, sheet_name=1)
df_tomates1990to1999 = pd.read_excel(pathPCP1990to1999, sheet_name=1)
df_tomates2000to2009 = pd.read_excel(pathPCP2000to2009, sheet_name=1)
df_tomates2010to2019 = pd.read_excel(pathPCP2010to2019, sheet_name=1)
df_tomates2020to2021 = pd.read_excel(pathPCP2020to2021, sheet_name=1)

In [16]:
df_Tomates = pd.concat([df_tomates1960to1969, df_tomates1970to1979, df_tomates1980to1989, df_tomates1990to1999, df_tomates2000to2009, df_tomates2010to2019, df_tomates2020to2021], ignore_index=True)

In [17]:
df_Tomates.head()

   año_mes     PCP_mm
0  1960-01   8.100000
1  1960-02   5.800000
2  1960-03   7.900000
3  1960-04  19.700001
4  1960-05  37.000000

In [19]:
df_Tomates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   año_mes  744 non-null    object
 1   PCP_mm   744 non-null    float64
dtypes: float64(1), object(1)
memory usage: 11.8+ KB

In [18]:
df_Tomates.tail()

     año_mes      PCP_mm
739  2021-08  159.000000
740  2021-09  192.100006
741  2021-10   85.500000
742  2021-11   56.900002
743  2021-12   13.000000

# Exportando a Excel

In [23]:
pathPCPTamosyTomates = r'D:\UAT_Doc\Climatologia_Tomates_Tamos\xlsx\Tamos y Tomates_PCP1960to2021_wc2.5m.xlsx'

In [24]:
with pd.ExcelWriter(pathPCPTamosyTomates) as writer:
    df_Tamos.to_excel(writer, sheet_name='Est_30166_Tamos',index=False)
    df_Tomates.to_excel(writer, sheet_name = 'Est_28055_Tomates',index=False)